@import url('http://fonts.cdnfonts.com/css/sf-pixelate');              
* {
    box-sizing: border-box;
    font-family: 'SF Pixelate', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(4, 2, 4);
    color: white;
}

.marcar {
    border: 3px solid purple;
}

.separar {
    margin: 10px;
}

.main {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
}

.box-da-deusa {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 20px;
}

.sprite-deusa {
    width: 300px;
}

.escolha-de-duelista {
    display: none;
    width: 400px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.botao {
    padding: 5px;
}

.start {
    display: flex;
}

.guerreiro-select {
    display: none;
}

.mago-select {
    display: none;    
}

.sprite {
    width: 230px;
}
